<!DOCTYPE html>
<html>
<head>
	<meta name="name" content="content" charset = "utf-8">
	<title>10</title>
	
	<script src="./js/angularjs.js"></script>
	<script src="./js/index10.js"></script>
</head>
<body>
<!-- 	<div ng-app="myApp">
	<h1 >hello {{name}}!</h1>
</div> -->
	<div ng-app="myApp">
		<div ng-controller='myController'>
			<h1 >hello {{name}}!</h1>
		
		<button ng-click="add()" class="button">Add</button><br />
		<a ng-click="substract()">Substract</a>
		<p>Account:--{{account}}</p>
		<p>{{person}}</p>
		<p>{{person.name}}</p>

	</div>
	</div>
	
</body>
</html>