<!DOCTYPE html>
<html>
<head>
	<meta  charset="utf-8">
	<title>12-angularjs的多个控制器数据共享</title>
	<script src="../js/angularjs.js"></script>
	<script src="../js/index12.js"></script>

</head>
<body>
<!-- angularjs的数据绑定，双向绑定，M,V,c之间的绑定 -->


	<div ng-app="myApp">
		<div ng-controller= "firstController">
			<input type="text" ng-model="person.name" value="" />
				firstData--{{person.name}}
		</div>
		
		<div ng-controller="secondController">
			<input type="text"  value="" />
				secondData--{{person.name}}

		<div ng-controller= "firstController">
			<input type="text" ng-model="Data.message" value="" />
				firstData--{{Data.message}}
		</div>
		
		<div ng-controller="secondController">
			<input type="text"  value="" />
				secondData--{{Data.message}}
		</div>
		</div>
	</div>


</body>
</html>